# App
PORT=
NODE_ENV=

# Database
DATABASE_URL=

# Inter-service
INTERNAL_SECRET=
WORKER_SERVICE_URL=
USER_SERVICE_URL=
NOTIFICATION_SERVICE_URL=

# Rate limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
